.app__navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem 2rem;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	position: fixed ;
	z-index: 2;
}

.app__navbar-logo {
	img {
		width: 120px;
		height: 48px;
	}
}

.app__navbar-links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	list-style: none;

	li {
		margin: 0 1rem;
		cursor: pointer;
		flex-direction: column;
	}
}