:root {
	--font-base: sans-serif;

	--primary-color: #d393ef80;
	--secondary-color: #313bac;
	--secondary-color-transparent: #4049b1a4;
	--black-color: #030303;
  	--lightGray-color: #e4e4e4;
  	--gray-color: #6b7688;
  	--brown-color: #46364a;
  	--white-color: #ffffff;
	--royal-color: #6631ac;
	--royal-color-transparent: #6631acd4;
	--primary-color-strong: #d393ef;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}