:root {
	--font-base: sans-serif;

	--primary-color: #f4dbff7f;
	--secondary-color: #313bac;
	--black-color: #030303;
  	--lightGray-color: #e4e4e4;
  	--gray-color: #6b7688;
  	--brown-color: #46364a;
  	--white-color: #ffffff;
	--royal-color: #6631ac;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}